[init]
	defaultBranch = main
[user]
	email = a.hr.nikolov@gmail.com
	name = Atanas Nikolov
[pull]
	rebase = false
[core]
  pager = less -FXRS
	editor = code
[color]
	ui = true
[merge]
  tool = code
[rebase]
	autoStash = true
[alias]
	logline = log --oneline --abbrev-commit --all --decorate --graph
